<div class="post-card">
    <div class="post-header" (click)="showPost()">

        <div class="user-info">

            <img
                (click) = "openProfile($event)"
                src="https://localhost:7109{{post.profileImage}}"
                class="avatar"
                alt="avatar">

            <div>

                <h4>{{post.fullName}}</h4>

                <span>
                    {{ post.createdAt | date:'dd.MM.yyyy HH:mm' }}
                </span>

                <span
                    *ngIf="post.location">

                    • {{ post.location.name }}
                </span>

            </div>

        </div>

        <div class="post-menu">
    <button class="menu-btn" (click)="toggleMenu($event)">
        ⋮
    </button>

    @if (menuOpen()) {
        <div class="dropdown-menu" (click)="$event.stopPropagation()">

            @if (isOwner()) {
                <button (click)="editPost()">
                    <mat-icon>edit</mat-icon>
                    Edit
                </button>

                <button class="danger" (click)="deletePost()">
                    <mat-icon>delete</mat-icon>
                     Delete
                </button>
            } @else {
                <button (click)="openReportPanel($event)">
                    <mat-icon>report</mat-icon>
                    Report
                </button>
            }

            <button (click)="copyLink()">
                <mat-icon>copy</mat-icon>
                Copy link
            </button>

        </div>
    }
</div>

    </div>


    <div
        class="post-content"
        *ngIf="post.content">

        {{ post.content }}

    </div>


    <div class="media-container" *ngIf="post.media?.length"> 
        
        <button class="media-arrow left" *ngIf="post.media.length > 1" (click)="previousMedia()"> 

        </button> 

        <img *ngIf="post.media[currentMediaIndex].type === MediaType.Image" [src]="'https://localhost:7109' + post.media[currentMediaIndex].url" class="post-media"> 
         
        <video *ngIf="post.media[currentMediaIndex].type === MediaType.Video" controls class="post-media"> 
            <source [src]="'https://localhost:7109' + post.media[currentMediaIndex].url"> 
        </video> 
        <button class="media-arrow right" *ngIf="post.media.length > 1" (click)="nextMedia()">  

        </button> 
    </div>


    <div class="post-footer">

    <div class="stats">

        <mat-icon>favorite</mat-icon>
        <span class="like-count">{{ post.likesCount }}</span>

        <span>
            <mat-icon>comment</mat-icon>
            {{ post.commentsCount }}
        </span>

    </div>

    <div class="actions">

        <button style="width:100px" (click)="toggleLike()">
            <mat-icon [class.liked]="post.isLiked">
                {{ post.isLiked ? 'favorite' : 'favorite_border' }}
            </mat-icon>
        </button>

        <button (click)="openPost($event)">
            <mat-icon>comment</mat-icon>
            Comment
        </button>

        <button (click)="copyLink()">
            <mat-icon>share</mat-icon>
            Share
        </button>

    </div>

</div>

@if (reportPanelOpen()) {
    <div class="report-overlay" (click)="closeReportPanel($event)">
        <div class="report-panel" (click)="$event.stopPropagation()">

            <h3>Report Post</h3>

            <label for="reportReason">Reason</label>

            <select
                id="reportReason"
                [(ngModel)]="reportReason">

                <option value="" disabled>
                    Select a reason
                </option>

                <option value="Spam">
                    Spam
                </option>

                <option value="Neprimeran sadržaj">
                    Neprimeran sadržaj
                </option>

                <option value="Mlatretiranje">
                    Maltretiranje
                </option>

                <option value="Nasilje">
                    Nasilje
                </option>

                <option value="Drugo">
                    Drugo
                </option>

            </select>

            <label for="reportDescription">
                Opis
            </label>

            <textarea
                id="reportDescription"
                [(ngModel)]="reportDescription"
                placeholder="Describe the problem..."
                rows="4">
            </textarea>

            <div class="report-actions">

                <button
                    class="cancel-btn"
                    (click)="closeReportPanel($event)">
                    Cancel
                </button>

                <button
                    class="report-btn"
                   
                    (click)="submitReport($event)">
                    Report
                </button>

            </div>

        </div>
    </div>
}

</div>