<div class="followers-page">

    <h1>Konekcije</h1>

    <!-- REQUESTS -->
    <section class="section">

        <h2>Zahtevi za praćenje</h2>

        <div
            class="user-card"
            *ngFor="let request of followRequests()">

            <img
                [src]="'https://localhost:7109' + request.profileImage"
                alt="Profile image"
                class="user-image">

            <div class="user-info">
                <strong>
                    {{ request.firstName }} {{ request.lastName }}
                </strong>

                <span>
                    @{{ request.username }}
                </span>
            </div>

            <div class="actions">

                <button
                    class="accept-btn"
                    (click)="acceptRequest(request.id)">
                    Prihvati
                </button>

                <button
                    class="reject-btn"
                    (click)="rejectRequest(request.id)">
                    Odbij
                </button>

            </div>

        </div>

        <p
            *ngIf="followRequests().length === 0"
            class="empty">
            Nema zahteva za praćenje.
        </p>

    </section>


    <!-- FOLLOWERS -->
    <section class="section">

        <h2>Pratioci</h2>

        <div
            (click)="openProfile($event, follower.id)"
            class="user-card"
            *ngFor="let follower of followers()">
            
            <img
                
                [src]="'https://localhost:7109' + follower.profileImage"
                alt="Profile image"
                class="user-image">

            <div class="user-info">
                <strong>
                    {{ follower.firstName }}
                    {{ follower.lastName }}
                </strong>

                <span>
                    @{{ follower.username }}
                </span>
            </div>

        </div>

        <p
            *ngIf="followers().length === 0"
            class="empty">
            Još uvek Vas niko ne prati.
        </p>

    </section>


    <!-- FOLLOWING -->
    <section class="section">

        <h2>Pratim</h2>

        <div
            class="user-card"
            (click)="openProfile($event, user.id)"
            *ngFor="let user of following()">

            <img
                [src]="'https://localhost:7109' + user.profileImage"
                alt="Profile image"
                class="user-image">

            <div class="user-info">
                <strong>
                    {{ user.firstName }}
                    {{ user.lastName }}
                </strong>

                <span>
                    @{{ user.username }}
                </span>
            </div>

            <button
                class="following-btn"
                (click)="unfollow(user.id)">
                Pratim
            </button>

        </div>

        <p
            *ngIf="following().length === 0"
            class="empty">
            Još uvek nikoga ne pratite.
        </p>

    </section>

</div>